input {
    stdin {}
}


filter { 
  grok { 
    match => { "message" => 
      "%{TIMESTAMP_ISO8601:timestamp} %{LOGLEVEL:loglevel} (?<ID>\s\[.*?]|\[.*?]) (?<Source>\[.*?]) %{GREEDYDATA:message}" 
      }
    }
    date {
       match => [ "timestamp", "YYYY-MM-dd HH:mm:ss,SSS", "ISO8601"  ]
       target => "timestamp"
    }
    mutate {
      add_field => { "log_source" => "puppetserver"}
    }
}

output {
  stdout { codec => rubydebug }
}